[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/vim-dirvish"]
	path = bundle/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/vim-qlist"]
	path = bundle/vim-qlist
	url = https://github.com/romainl/vim-qlist.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/vim-mix-format"]
	path = bundle/vim-mix-format
	url = https://github.com/mhinz/vim-mix-format.git
[submodule "bundle/vim-ags"]
	path = bundle/vim-ags
	url = https://github.com/gabesoft/vim-ags.git
